{% extends 'layout.html' %}
{%block main%}
<style>
    .bottom {
        position: fixed;
        bottom:0;
        left:0;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/admin/category">资源分类</a></li>
    <li><span>添加一级资源分类</span></li>
</ol>
<h3>添加一级资源分类</h3>
<form role="form" method="post" id="form" >
    <div class="form-group">
        <span>一级分类名称:</span><input type="text" class="form-control" id="sourceParentName" placeholder="请输入一级资源分类名称" name="sourceParentName">
    </div>
    <div class="form-group">
        <span>一级资源分类名称icon:</span><input type="text" class="form-control" id="icon" placeholder="请输入二级资源分类icon" name="icon">
    </div>
    <button type="submit" class="btn btn-default">提交</button>
</form>
{%endblock%}