{% extends 'layout.html' %}

{%block main%}
<style>
    .bottom {
        position: fixed;
        bottom:0;
        left:0;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>用户列表</span></li>
</ol>
<h3>用户列表</h3>
{%include 'page.html'%}
<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>密码</th>
        <th>注册时间</th>
        <th>管理员</th>
        <th>vip</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user._id.toString()}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.time|date('Y年m月d日 H:i:s', -480, 'CCT')}}</td>
        <td>
            {% if user.isAdmin%}
                true
            {%else%}
                false
            {% endif%}
        </td>
        <td>
            {% if user.vip %}
            是
            {%else%}
            否
            {% endif%}
        </td>
    </tr>
    {% endfor%}
</table>
<nav>
    <ul class="pager pagerTwo">
        <li class="previous"><a href="/admin/user?page={{page-1}}">&larr; 上一页</a></li>
        <li>一共有 {{count}} 条数据,每页显示 {{limte}} 条数据,一共有 {{pages}} 页,当前显示的是第 {{page}} 页</li>
        <li class="next"><a href="/admin/user?page={{page+1}}">下一页 &rarr;</a></li>
    </ul>
</nav>
{%endblock%}