html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
ul,li{
  text-decoration: none;
  list-style: none;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
   text-align: center;
  font-size: 18px;
  background: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
  -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  position: absolute;
  bottom:150px !important;
  left: 50%;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); 	/* IE 9 */
  -moz-transform:rotate(90deg); 	/* Firefox */
  -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  -o-transform:rotate(90deg);
}

.topBar{
  width:100%;
  height:100px;
  background: red;
  overflow: hidden;
}
.topBar .topBarCons{
  width:800px;
  margin:0 auto;
  display: flex;
}
.topBar .topBarCons li{
  flex:1;
  line-height: 100px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.topBar .topBarCons li img{
  width:100%;
}

.swiper-cons{
  width: 600px;
  height:700px;
  text-align: center;
}
.swiper-cons ul li{
  width: 200px;
  height:300px;
}
.swiper-cons ul li img{
  width:100%;
  height:300px;
}