body,html{
	width:100%;
	height:100%;
}
body{
	/*color:#e6e6e6;*/
	background: url(../images/bg.jpg) fixed repeat center top #f0f0f0;
	overflow-x: scroll;
	font-family: "Microsoft Yahei", "Trebuchet MS", Georgia,"Times New Roman",Times,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fixed{
	overflow: hidden;
}
.index{
	min-width:1200px;
}
.index i{
	margin-right:5px;
}
canvas{
	min-width:1200px;
}
/*顶部导航*/
.new{
	font-size: 8px;
	position: relative;
	top: -7px;
	color: red;
}
.index .navbar{
	width:100%;
	height:105px;
	/*padding:0 56px 0 0;*/
	background: #050505;
	border-radius: 0;
	margin-bottom: 0;
	z-index: 120000;
	color: #ffffff;
	overflow: hidden;
}
.index .navbar .moreSource{
	font-size:12px;
	font-weight:bold;
	overflow: hidden;
	border-bottom: 1px solid #212121;
}
.index .navbar .moreSource .moreBox{
	width:1200px;
	height: 25px;
	line-height: 25px;
	margin: 0 auto;
}
.index .navbar .moreSource .moreSourceBox{
	float: right;
	overflow: hidden;
}
.index .navbar .moreSource .moreSourceBox .moreSourceItem{
	color: #ddd;
	padding-right:25px;
	float: left;
}
.index .navbar .moreSource .moreSourceBox .SourceItem:hover{
	color: #337ab7;
}
.index .navbar .moreSource .moreSourceBox .loginTop span{
	cursor: pointer;
}
.index .navbar .moreSource .moreSourceBox .loginTop span:hover{
	color: #337ab7;
}
.index .navbar.navbarPosition{
	background: #fff;
	color: #444444 !important;
	box-shadow: 0 0 15px #e8e8ec;
	position:fixed;
	top:0;
	left:0;
	transition: all 1.5s;
}
.index .navbar .logo .logoIntroduce{
	display: inline-flex;
	flex-direction:column;
	height: 36px;
	margin-top:22px;
	font-size:12px;
	color: #ddd;
	position: absolute;
	left: 60px;
	border-left:3px solid #ddd;
}
.index .navbar.navbarPosition .logo .logoIntroduce{
	color: #05a2d7;
	border-left:3px solid #05a2d7;
}
.index .navbar.navbarPosition .moreSource{
	border-bottom: 1px solid #eeeeee;
}
.index .navbar.navbarPosition .moreSource .moreSourceItem{
	color: #6c6c6c;
}
.index .navbar.navbarPosition .loginTop:hover{
	color:#337ab7
}
/*.index .navbar.navbarPosition .moreSource .moreBox .loginTop .userMore{
	position: absolute;
	top:200px;
}*/
.index .navbar .logo{
	width: 20%;
	position:relative;
}
.index .navbar .logobox{
	width:1225px;
	height:80px;
	margin:0 auto;
}
.index .navbar .logo .logoIntroduce p{
	line-height: 14px;
	font-weight: bold;
	padding-left:13px;
}
.index .navbar .logo .logoIntroduce p:last-child{
	margin-top: 8px;
}
.index .navbar .logo .a{
	line-height:80px;
	text-align: center;
	font-size:20px;
	font-weight: bold;
	margin-top:15px;
	float: left;
	overflow: hidden;
	position: relative;
}
.index .navbar .logo img{
	height:50px;
	display: block;
	margin: 0 auto;
}
.index .navbar ul{
	width:45%;
	height:100%;
	font-weight: bold;
	line-height:80px;
	font-size:15px;
	display: box;
	display: -webkit-box;
	float: right;
}
.index .navbar ul li{
	 -webkit-box-flex: 1;
	 text-align: center;
}
/*.index .navbar ul li:last-child a{*/
	/*color: #951d00;*/
/*}*/
/*.index .navbar.navbarPosition ul li:last-child a{*/
	/*color: #951d00;*/
/*}*/
.index .navbar.navbarPosition ul li a{
	color: #444;
}
.index .navbar.navbarPosition ul li a:hover{
	color: #9d9d9d !important;
}
.index .navbar ul li a{
	color: #9d9d9d;
}
.index .navbar ul li a:hover{
	color: #ffffff;
}
.index .bannerBox{
	width:100%;
	height:250px;
	overflow: hidden;
}
.index .bannerBox img{
	width:100%;
}
.canvasBox{
	width:100%;
	position: relative;
}
.canvasBox .fa-search{
	width: 34px;
	line-height: 34px;
	text-align: center;
	color: #B7B7B7;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 200px;
	margin-top: -23px;
	z-index: 100;
}
::-webkit-input-placeholder {
	color: #B7B7B7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #B7B7B7;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #B7B7B7;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #B7B7B7;
}
.canvasBox .canvasSmallBox{
	width: 504px;
	margin: 0 auto;
	position: absolute;
	height: 200px;
	top: 0;
	left: 50%;
	margin-left: -252px;
}
.canvasBox .canvasSmallBox .find{
	width: 504px;
	height: 34px;
	border: 1px solid #2c2c2c;
	background-color: #131418;
	padding-left: 20px;
	padding-right: 20px;
	outline: none;
	color: #fff;
	border-radius: 34px;
	position: absolute;
	top:82px;
	opacity: 0.8;
}
/*当前文章的层级关系*/
.index .categoryNameInfo{
	width:100%;
	height:60px;
	line-height:60px;
	font-size:17px;
	overflow: hidden;
}
.index .categoryNameInfo .categoryNameInfoBox{
	max-width: 1200px;
	margin: 0 auto;
}
.index .categoryNameInfo .categoryNameInfoBox .categoryName{
	color: #444;
	float: left;
}
.index .categoryNameInfo .categoryNameInfoBox .categoryListName{
	font-size:15px;
	color: #757589;
	overflow: hidden;
	float: right;
}
.index .categoryNameInfo .categoryNameInfoBox .categoryListName li{
	padding:0 5px;
	float: left;
}
.index .categoryNameInfo .categoryNameInfoBox .categoryListName li:nth-of-type(4){
	max-width:300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.index .categoryNameInfo .categoryNameInfoBox .categoryListName li .fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.index .categoryNameInfo .categoryNameInfoBox .categoryListName li .fa:before {
	margin-right:3px;
}
/*分页*/
.pager li{
	color: #000;

}
/*网站右边栏*/
.mgd_cons_right{
	width: 330px;
	margin-top: 25px;
	float: right;
}
/*关于我*/
.mgd_cons_right .aboutMe{
	width:100%;
	color: #444;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
	border-radius: 5px;
	background: #ffffff;
	box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}
.mgd_cons_right .aboutMe .aboutMe_title{
	width:100%;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 10px;
	border-bottom: 1px solid #ddd;
}
.mgd_cons_right .aboutMe p{
	padding: 0 10px;
}
.mgd_cons_right .aboutMe p span{
	font-weight: bold;
	color: #337ab7;
}
.mgd_cons_right .aboutMe .QQclub{
	margin-top:10px;
}
/*热门文章*/
.mgd_cons_right .hotArticle{
	width:100%;
	margin-top:20px;
	color: #444;
	background: #ffffff;
	box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
	border-radius: 5px;
}
.mgd_cons_right .hotArticle .hotArticle_title{
	width:100%;
	line-height:50px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
	padding:0 10px;
}
.mgd_cons_right .hotArticle ul{
	width:100%;
	padding:10px;
}
.mgd_cons_right .hotArticle ul li{
	line-height: 21px;
	font-size: 16px;
	padding: 5px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mgd_cons_right .hotArticle ul li a:hover{
	/*color: #5899d0;*/
	text-decoration: underline;
}
/*用户信息*/
.userInfo{
	width: 330px;
	background: #fff;
	color:#444;
	background: #ffffff;
	box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
	border-radius: 5px;
}
.userInfo span{
	margin-right:20px;
}
.userInfo p{
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 10px;
	font-size: 15px;
	text-align: left;
	line-height: 50px;
	border-bottom: 1px solid #ccc;

}
.userInfo .welcome{
	width: 100%;
	padding: 0 10px;
	font-size: 15px;
	text-align: left;
	line-height: 30px;
	border-bottom: 1px solid #ddd;
}
.userInfo .adminPage{
	width: 100%;
	height: 50px;
	color: #666666;
	text-align: right;
	font-size: 15px;
	line-height: 50px;
}
.userInfo .adminPage:hover{
	color: #444444;
}
.userInfo .exit{
	width: 100%;
	height: 50px;
	color: #777777;
	padding: 0 10px;
	font-size: 15px;
	line-height: 50px;
}
.userInfo .exit p{
	width:100px;
	height:35px;
	line-height:35px;
	text-align: center;
	margin-top:7px;
	border:1px solid #9d9d9d;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	float: right;
}
.userInfo .exit p:hover{
	background: #dddddd;
}
/*登陆*/
.index .Login{
	width: 330px;
	color: #444;
	margin: 0 auto;
	padding-bottom: 20px;
	background: #ffffff;
	box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
	border-radius: 5px;
}
.totast{
	width:100%;
	line-height:30px;
	font-size:13px;
	color: #cf6f6f;
	text-align: center;
}
.index .Login .loginTitle{
	width:100%;
	height: 50px;
	line-height:50px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.index .Login .loginTitle p{
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 10px;
	font-size: 15px;
	text-align: left;
	line-height: 50px;
	display: inline-block;
	float: left;
}
.index .Login .loginTitle .selected{
	height: 50px;
	display: inline-block;
	line-height: 50px;
	padding: 0 0 0 10px;
	color: #666666;
	float: left;
}
.index .Login .loginTitle .selected:hover{
	cursor: pointer;
	font-weight: bold;
	color: #444444;
}
.index .Login .username{
	width: 100%;
	padding: 0 10px;
}
.index .Login .username input{
	width: 250px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin:20px auto;
	display: block;
	text-align: center;
	padding: 0 0 0 10px;
}
.index .Login .password{
	width: 100%;
	padding:0 10px;
}
.index .Login .password input{
	width: 250px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin:20px auto;
	display: block;
	text-align: center;
	padding: 0 0 0 10px;
}
.index .Login .loginBtn{
	width: 250px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	border-radius: 5px;
	background: #5899d0;
	text-align: center;
	margin: 20px auto 0;
}
.index .Login .loginBtn:hover{
	background: #5899f0;
}
/*注册*/
.index .registered{
	width: 330px;
	margin: 0 auto;
	padding-bottom:40px;
	color: #444;
	background: #ffffff;
	box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
	border-radius: 5px;
	display: none;
}
.index .registered .registeredTitle{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.index .registered p{
	font-weight: bold;
	padding: 0 10px;
	font-size: 15px;
	float: left;
}
.index .registered .selected{
	height: 50px;
	display: inline-block;
	line-height: 50px;
	padding: 0 0 0 10px;
	color: #666666;
	float: left;
}
.index .registered .selected:hover{
	cursor: pointer;
	font-weight: bold;
	color: #444444;
}
.index .registered .username{
	width: 100%;
	padding:0 10px;
}
.index .registered .username input{
	width: 250px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin:20px auto;
	display: block;
	text-align: center;
	padding: 0 0 0 10px;
	background: #ffffff;
}
.index input.input:hover{
	width:280px;
	background: #e9e9e9;
	transition: all .5s;
}
.index .registered .password{
	width: 100%;
	padding:0 10px;
}
.index .registered .password input{
	width: 250px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin:20px auto;
	display: block;
	text-align: center;
	padding: 0 0 0 10px;
}
.index .registered .password input:hover{
	width:280px;
	background: #e9e9e9;
	transition: all .5s;
}
.index .registered .repassword{
	width: 100%;
}
.index .registered .repassword input{
	width: 250px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin:20px auto;
	display: block;
	text-align: center;
	padding: 0 0 0 10px;
}
.index .registered .repassword input:hover{
	width:280px;
	background: #e9e9e9;
	transition: all .5s;
}
.index .registered .registeredBtn{
	width: 250px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	border-radius: 5px;
	background: #5899d0;
	text-align: center;
	margin: 0 auto;
}
.index .registered .registeredBtn:hover{
	background: #5899f0;
}
/*给我留言*/
/*.index .setMessage{*/
	/*width: 330px;*/
	/*color: #444;*/
	/*margin: 0 auto;*/
	/*padding-bottom: 20px;*/
	/*margin-bottom: 20px;*/
	/*margin-top: 20px;*/
	/*background: #ffffff;*/
	/*box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);*/
	/*border-radius: 5px;*/
/*}*/
/*.index .setMessage .setMessageTitle{*/
	/*width: 100%;*/
	/*height: 50px;*/
	/*line-height: 50px;*/
	/*border-bottom: 1px solid #ddd;*/
	/*overflow: hidden;*/
/*}*/
/*.index .setMessage .setMessageTitle p{*/
	/*padding:0 10px;*/
/*}*/
/*首页和分类列表页的列表样式*/
/*网站内容模块*/
.mgd_cons{
	max-width:1200px;
	min-width:1200px;
	overflow: hidden;
	margin:0 auto;
	overflow: hidden;
}
.index .mgd_cons .mgd_cons_left{
	width: 835px;
	padding: 20px 30px;
	background: #fff;
	margin-top:25px;
	float: left;
}
/*文章列表*/
.index .mgd_cons .mgd_cons_left .contentList{
	width:100%;
	background: #ffffff;
}
/*.index .mgd_cons .mgd_cons_left .contentList .scale{*/
	/*-moz-transform:scale(0.5);*/
	/*-webkit-transform:scale(0.5);*/
	/*-o-transform:scale(0.5);*/
	/*-ms-transform:scale(0.5);*/
	/*transform:scale(0.5);*/
/*}*/
.index .mgd_cons .mgd_cons_left .contentList li{
	background: #ffffff;
	margin-bottom:15px;
	padding-bottom:20px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}
.index .mgd_cons .mgd_cons_left .contentList li h3{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	padding: 10px 15px;
	font-size:24px;
	line-height:40px;
	text-align: left;
}
.index .mgd_cons .mgd_cons_left .contentList li .content_description{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	padding:20px 15px 0;
	font-size:16px;
	color: #333333;
}
.index .mgd_cons .mgd_cons_left .contentList li .content_description p{
	text-indent: 2em;
}
.index .mgd_cons .mgd_cons_left .contentList li .contentInfo{
	color: #777777;
	padding:10px 15px;
	font-size:12px;
	line-height:20px;
	border-bottom: 1px dashed #ccc;
}
.index .mgd_cons .mgd_cons_left .eyeNum{
	display: inline-block;
	float: right;
}
.index .mgd_cons .mgd_cons_left .contentList li .contentInfo span{
	margin-right:20px;
}
/*底部导航*/
.bottom{
	width:100%;
	height:30px;
	line-height:30px;
	padding:0 30px;
	margin-top:30px;
	font-size:14px;
	color: #939393;
	background: #101010;
	overflow: hidden;
	/*position: fixed;*/
	/*bottom: 0;*/
	/*left:0;*/
}
.bottom .bottomLeft{
	overflow: hidden;
	float: left;
}
.bottom .bottomLeft p{
	float: left;
	padding:0 10px;
	color: #337ab7;
	border-right: 1px solid #000;
	box-shadow: 1px 0 0 #303030;
}
.bottom .bottomLeft p a{
	color: #337ab7;
}
.bottom .bottomRight{
	margin-left:15px;
	float: left;
}
.bottom .bottomArtile{
	margin-right:25px;
	float: right;
}

.QQ{
	width:300px;
	height:168px;
	position: fixed;
	top:30%;
	right:0;
}
.QQ .QQimg{
	width:250px;
	height:100%;
	float: right;
}
.QQ img{
	width:100%;
	height:100%;
}
.QQ .QQwords{
	width:50px;
	font-size: 16px;
	height:100%;
	text-align: center;
	float: left;
	background: #fff;
	border-right:1px solid #ddd;
}

.callMe{
	position: relative;
}
.callMe p{
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
	padding: 0 10px;
	border-bottom: 1px solid #ddd;
}
.callMe ul{
	padding:15px;
	overflow: hidden;
}
.callMe ul li{
	width:60px;
	height:60px;
	float: left;
}
.callMe ul li.webchatPublic{
	margin-left:10px;
}
.callMe ul li:nth-child(2){
	margin:0 10px;
}
.callMe ul li img{
	width:100%;
}
.callMe .myWechat{
	width:100px;
	height:100px;
	position: absolute;
	left:70px;
	display: none;
}
.callMe .myWechat img{
	width:100%;
}
.callMe .myWebchatPublic{
	width:100px;
	height:100px;
	position: absolute;
	left:210px;
	display: none;
}
.callMe .myWebchatPublic img{
	width:100%;
}
.videoListBox li .videoImg{
	overflow: hidden;
}
#viper{
	width:30px;
	height:30px;
}


/*导航*/
.swiper-container {
	width: 100%;
	height: 220px;
}
.swiper-container .swiper-slide img{
	width:100%;
	height:100%;
}
.swiper-pagination{
	position: relative;
	bottom: 30px !important;
}


/*顶部登陆*/
.top-loginBox{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	z-index:1000000;
	display: none;
}
.top-loginBox .top-loginBox-bg{
	width:100%;
	height:100%;
	background: #000000;
	opacity:.7;
}
.top-loginBox .top-loginBox-con{
	width:600px;
	height:400px;
	background: #fff;
	border-radius: 20px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.top-loginBox .top-loginBox-con .login-logo{
	width:100px;
	height:100px;
	display: inherit;
	margin:0 auto;
}
.top-loginBox .top-loginBox-con .top-loginBox-input{
	width:100%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.top-loginBox .top-loginBox-con .top-loginBox-input li:not(:last-child){
	width:400px;
	display: flex;
	line-height:50px;
	border-radius: 10px;
	border:1px solid #ddd;
	margin:20px auto 0;
	overflow: hidden;
}
.top-loginBox .top-loginBox-con .top-loginBox-input li:last-child{
	width:400px;
	line-height:50px;
	margin:20px auto;
}
.top-loginBox .top-loginBox-con .top-loginBox-input li:last-child .loginBtn{
	margin:0 auto;
}
.top-loginBox .top-loginBox-con .top-loginBox-input p{
	width:50px;
	height:50px;
	border-right: 1px solid #ddd;
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
	background: #eeeeee;
}
.top-loginBox .top-loginBox-con .top-loginBox-input .loginBtn{
	width:250px;
	height:50px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	border-radius: 5px;
	background: #5899f0;
}
.top-loginBox .top-loginBox-con .top-loginBox-input .loginBtn:hover{
	background: #5899d0;
}
.top-loginBox .top-loginBox-con .top-loginBox-input input{
	width:340px;
	padding: 0 20px;
}
.top-loginBox .top-loginBox-con .top-loginBox-bottom{
	line-height:66px;
	color: #000;
	float: right;
	margin-right:60px;
}
.top-loginBox .top-loginBox-con .top-loginBox-bottom p:hover{
	color: #337ab7;
}



