<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于我的首页</title>
		<link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/public/normal.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/myCommon.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/index.css"/>
		<script src="/public/js/jQuery-2.1.4.min.js"></script>
		<script	src="/public/js/template.js"></script>
		<script src="/public/js/bootstrap.min.js"></script>
		<script src="/public/js/common.js"></script>
		<script src="/public/js/index.js"></script>

		<link rel="stylesheet" media="screen" href="/public/css/aboutMe_style.css">
	</head>
	<body>
		<style>
			.asd{
				width:500px;
				height:300px;
				background: #fff;
				position: absolute;
				top:100px;
				left:100px;
			}
			.find{
				width: 200px;
				line-height:50px;
				border:1px solid #000;
				color: #000;
			}
			.btn{
				width:100px;
				line-height:50px;
				background: red;
				text-align: center;
			}
		</style>
	    <canvas></canvas>
	</body>
</html>
<script>
	$(function(){
		$(".btn").on("click",function(){
			$.ajax({
				type:"post",
				url:"/api/find",
				data:{
					keyWord:$(".find").val()
				},
				success:function(data){

				}
			})
		})
	})
</script>
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?c99f49869b064a7b101d850e21ab5f4b";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>