<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>小宋博客</title>
		<script src="/public/js/change_view_750.js"></script>
		<link rel="shortcut  icon" type="image/x-icon" href="/public/images/favicon.ico" media="screen"  />
		<style>
			html,body{
				width:100%;
				height:100%;
			}
			body{
				background: url("/public/images/null.jpg");
				background-size: cover;
				display: flex;
				display: -webkit-box;
				-webkit-box-align: center;
				-webkit-box-pack: center;
				-webkit-box-orient:vertical;
				orient:vertical;

			}
			p{
				color: #fff;
				font-size:30px;
				height:30px;
				box-orient:vertical;
				orient:vertical;
			}
		</style>
	</head>
	<body>
		<p>暂无支持手机端访问</p>
		<p>请您PC端访问,谢谢</p>
	</body>
</html>
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?c99f49869b064a7b101d850e21ab5f4b";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>